html {
  font-family: "Fira Sans", "Helvetica", sans-serif;
  font-size: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.container-fluid {
  max-width: 76rem;
}

@media only screen and (max-width: 48rem) {
  .container-fluid {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    max-width: 76rem;
  }
}